<%= form_for(@question) do |f| %>


  <div class="field">
    <div class="too"><%=  image_tag ("question-mark.jpg"), size: '13x13', rel: "tooltip", title: "Введите ваш анонимний вопрос в поле рядом." %></div><%= f.text_area :ask, rows: 4 %>
  </div>
    <% if signed_in? %>
        <% if current_user.admin? %>
  <div class="field">
    <%= f.label :answer, t('.answer') %>
    <%= f.text_field :answer %>
  </div>
            <% end %>
        <% end %>
    <%= link_to t('.cencel'), posts_path,  :class => 'btn btn-small' %>
    <%= f.submit t('.ask'), :class => 'btn btn-small' %>


<% end %>
