<% if signed_in? %>
    <% if current_user.admin? %>
<center><h4>Ответ</h4></center>

<%= form_for(@question) do |f| %>
<div class="answers_page">
 <p class="text-error">► Введите ваш анонимний вопрос.</p>
            <div class="field">
           <hr/>
     <p class="text-error"> <%= @question.ask%></p>
            <hr/>
              </div>


            <div class="field">
              <%= f.label :answer, 'Ваш ответ:' %>
              <%= f.text_area :answer, rows: 2 %>
            </div>
    <div class="actions">
      <%= f.submit "Добавить ответ", :class=> 'btn btn-small' %>
    </div>
<% end %>

        </div>

        <% else %>
        <div class="alert alert-error">
          <h4 class="alert alert-error">Внимание!</h4>
          У вас нет прав войти в административную область

        </div>
    <% end %>
<% end %>