<% if signed_in? %>
    <% if current_user.admin? %>
<center><h4><%= t('.responce') %></h4></center>

<%= form_for(@question) do |f| %>
<div class="answers_page">
 <p class="text-error">► <%=t('.info')%>.</p>
            <div class="field">
           <hr/>
     <p class="text-error"> <%= @question.ask%></p>
            <hr/>
              </div>


            <div class="field">
              <%= f.label :answer, t('.answer') %>
              <%= f.text_area :answer, rows: 2 %>
            </div>
    <div class="actions">
      <%= f.submit t('.add_answer'), :class=> 'btn btn-small' %>
    </div>
<% end %>

        </div>

        <% else %>
        <div class="alert alert-error">
          <h4 class="alert alert-error"><%= t('.warning') %></h4>
          <%= t('.admin') %>

        </div>
    <% end %>
<% end %>