

<center><h4>Вопросы</h4></center>
<hr/>
<% @questions.each do |question| %>
    <div class="conteiner_ask">

      <div class="delete">
        <% if signed_in? %>
            <% if current_user.admin? %>
                <p clas="muted"><%= link_to 'Удалить', question, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
        <% end %>
      </div>
      <div class ="time_questions">
      <p class="muted">Add <%= time_ago_in_words(question.created_at) %> ago.</p>
      </div>

      <dl>
        <dt><p class="text-error"> <%= question.ask %></p></dt>
        <dd><p class="muted"> <%= question.answer %>
          <% if signed_in? %>
              <% if current_user.admin? %>
                  <%= link_to "Ответить", edit_question_path(question) %>
              <% end %>
          <% end %>
        </p></dd>

      </dl>
      <hr/>
    </div>
<% end %>


<br />
<% if signed_in? %>
<%= link_to 'Задать вопрос', new_question_path, :class => 'btn btn-small' %>
    <% else %>
    <div class="alert alert-error">
      <h4 class="alert alert-error">Предупреждение!</h4>
      Только зарегистрирование пользователи могут задавать мне вопросы.
      <a class="btn btn-small" href="/signup">Cоздать профиль</a>
    </div>
 <% end %>