<h4>Sign in</h4>

<%= form_for(:session, :url => sessions_path) do |f| %>

    <%= f.label :email, "Електронная почта:" %>
    <br/>
    <div class="field">
      <div class="too"><%=  image_tag ("question-mark.jpg"), size: '13x13', rel: "tooltip", title: "В ето поле вы должны ввести свой email адрес которий использовали при регистрации." %></div>  <%= f.text_field :email %>
    </div>
    <%= f.label :password, "Пароль:" %>
    <br/>
    <div class="field">
      <div class="too"><%=  image_tag ("question-mark.jpg"), size: '13x13', rel: "tooltip", title: "В ето поле вы должны ввести ваш пароль." %></div>  <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
<% end %>

