<% if signed_in? %>
    <% if current_user.admin? %>
<blockquote>
  <span class="label">Time now <%= Time.now %></span>
  <p>Welcom to admin page tis blog.</p>
  <small>Hence you can manage blog. </small>
  <%= link_to 'Add post', new_post_path %>   <br/>
  <%= link_to 'Users list', users_path %> <br/>
  <%= link_to 'Your Asks', questions_path %><br/>
  <%= link_to 'Your Letters', letters_path %>
</blockquote>
<% else %>
        <div class="alert alert-error">
          <h4 class="alert alert-error">Внимание!</h4>
          У вас нет прав войти в административную область
        </div>
<% end %>
<% end %>