<% if signed_in? %>
    <% if current_user.admin? %>
<center><h4>Пользователи</h4></center>
        <hr/>
       <p class="muted"> Всего пользователей: <strong><%= pluralize(@total_users, "") %></strong></p>
<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>

      <div class="image_user_all">


          <%= link_to user.name, user %>


      </div>
      <div class="delete_user">
        <% if current_user.admin? %>
            <%= link_to "Удалить", user, :method => :delete, :confirm => "Вы уверены?",
                        :title => "Delete #{user.name}" %>
            </div>
        <% end %>
      <hr/>



  <% end %>

</ul>

<%= will_paginate %>
    <% else %>
        <div class="alert alert-error">
          <h4 class="alert alert-error">Внимание!</h4>
          У вас нет прав войти в административную область
        </div>
    <% end %>
<% end %>


