<% if signed_in? %>
    <% if current_user.admin? %>
<h4>All users</h4>
<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
      <div class="image_user_all">
        <%= image_tag user.image_url.to_s, :size => '80x80'%>
      </div>
      <li>
        <%= user.email %> ,
        <%= link_to user.name, user %>
      </li>
      <% if current_user.admin? %>
          | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                        :title => "Delete #{user.name}" %>
      <% end %>
  <% end %>
</ul>
<%= will_paginate %>
    <% else %>
        <div class="alert alert-error">
          <h4 class="alert alert-error">Внимание!</h4>
          У вас нет прав войти в административную область
        </div>
    <% end %>
<% end %>


