<% @posts.each do |post| %>


    <blockquote>

      <em><i class="icon-time"></i> Add <%= time_ago_in_words(post.created_at) %> ago.</em>

      <p><%=link_to post.title, post,%></p>


      <small><%= truncate(strip_tags(post.idea), length: 80)  %></small>
      <div class = "counter_comments">
        <%= pluralize post.comments.size, "" %> <i class=" icon-comment"></i> |
        <%= pluralize post.reputation_for(:votes).to_i, "" %>  <i class=" icon-thumbs-up"></i>
      </div>
    </blockquote>

<% end %>

<div class="paginate">
<%= paginate @posts %>
</div>