<div class="counter_posts">
  <p class="muted"><%=t('page.posts')%>: <%= pluralize @posts.count, "" %> </p>

</div>
<% @posts.each do |post| %>

  <table class="table table-hover">
    <td>
    <div class="blocke">

      <p class="muted"> <small><i class="icon-time"></i> <%= t('page.add') %>: <%= (post.created_at.strftime('%F, %H:%M ')) %> </small> </p>

      <strong><%= post.title%></strong>


      <p><%= truncate(strip_tags(post.idea), :length => 80)  %></p>


      <div class = "counter_comments">

        <p class="text-error">
        <%= pluralize post.comments.size, ""  %> <i class=" icon-comment"></i> |
        <%= pluralize post.reputation_for(:votes).to_i, "" %>  <i class=" icon-thumbs-up"></i>
        </p>
      </div>

        <div class="link">
     <p><%=  link_to t('page.read'), post %> </p>
        </div>



    </div>
    </td>
  </table>

<% end %>
