
<div class="search">
      <%= form_tag posts_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
      <% end %>
</div>
<div class ="sort">
Sort by:
<%= link_to  "popularity", posts_path, :class => 'btn btn-mini'%>|
<%= link_to "Date added", page_path,  :class => 'btn btn-mini' %>
</div>
<br/>
<br/>
<br/>

<%= render :partial => 'posts' %>