<%= simple_form_for (@letter), :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :fio, "FIO:" %>
    <%= f.text_field :fio %>
    <%= f.label :letter, "Letter:" %>
    <%= f.text_area :letter, rows:8 %>
    <%= f.label :phone, "Number phone:" %>
    <%= f.text_field :phone %>
    <%= f.label :town, "Town:" %>
    <%= f.text_field :town %>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
