<% if signed_in? %>
    <% if current_user.admin? %>

        <div class ="reg_user">
          <p class="text-error"> ►<%=t('.sent_letter')%>, <%= @letter.fio %>!</p>
        </div>
        <div class="letters_show">
        <dl>
          <dt><p class="text-error"><%=t('.letters')%>:</p></dt>
          <dd><p class="muted"> <%= @letter.letter %></p></dd>
        </dl>
        <dl>
          <dt><p class="text-error"><%=t('.phone')%>:</p></dt>
          <dd><p class="muted">  <%= @letter.phone %></p></dd>
        </dl>
        <dl>
          <dt><p class="text-error"><%=t('.town')%>:</p></dt>
          <dd><p class="muted">  <%= @letter.town %></p></dd>
        </dl>
        <dl>
          <dt><p class="text-error"><%=t('.email')%>:</p></dt>
          <dd><p class="muted"><%= @letter.email %></p></dd>
        </dl>
        <%= link_to t('.back'), letters_path, :class=>'btn btn-small' %>
        </div>
<% else %>
        <div class ="reg_user">
          <p class="text-error"> ► Ваше письмо отправлено, я отвечу вам как только прочитаю его!</p>

            </div>
    <% end %>
<% end %>
