<% @post.comments.desc.each do |comment| %>

        <div class="container_comment">
          <div class="heid_comment">
            <div class="name">
              <p class="muted"><%=comment.user.name %></p>
            </div>

            <div class="date">
              <p class="muted"> Created <%= time_ago_in_words(comment.created_at) %> ago.</p>
            </div>
            <div class="container_delete">
              <% if signed_in? %>
                  <% if current_user.admin? %>
                      <%= link_to "x", comment, :method => :delete %>
                  <% end %>
              <% end %>
            </div>
          </div>


          <div class="image_comment">
            <%=link_to (image_tag comment.user.image_url.to_s, size: '50x50'), comment.user%>
          </div>
          <div class="content">
            <p class="text-error"><%= comment.content %></p>
          </div>
          <div class="container_likes">
              <p>
              <% if signed_in? %>
                  <%= link_to " ", vote_comment_path(comment, type: "up"), method: "comment", :class=>" icon-thumbs-up"%>
                  <%= link_to " ", vote_comment_path(comment, type: "down"), method: "comment", :class=>"icon-thumbs-down" %>
              <% end %>
              <i class="icon-heart"></i> <%= pluralize comment.reputation_for(:votes).to_i, "" %>
              </p>
          </div>

        </div>


    <br/>




<% end %>
