
 <div class="heid_local"><div class="info_local"><p class="muted">► <%=t('.socil')%>:</p></div></div>


 <div class="socil">
  <a href="http://vk.com/vitaleks" ><%= image_tag ("vk.png"), :size => '30x30'  %></a>
  <a href="https://twitter.com/" ><%= image_tag ("twitter.png"), :size => '28x28'  %></a>
  <a href="http://www.facebook.com/" ><%= image_tag ("facebook.jpg"), :size => '30x30'  %></a>
  <a href="https://plus.google.com/" ><%= image_tag ("google.png"), :size => '28x28'  %></a>
  </div>
 <br/>


