<% if signed_in? %>
    <% if current_user.admin? %>
<%= form_for @post, :html => {:multipart => true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Название:" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :idea, "Осоновной текст:" %>
    <%= f.text_area :idea, rows: 6 %>
  </div>
    <p>
      <%= f.file_field :image %>
    </p>
    <label>
      <%= f.check_box :remove_image %>
      Remove image
    </label>



  <div class="actions">
    <%= f.submit "Добвать пост", :class => 'btn btn-small' %>
  </div>
<% end %>
<% else %>
        <div class="alert alert-error">
          <h4 class="alert alert-error">Внимание!</h4>
          У вас нет прав войти в административную область! =p
        </div>
<% end %>
<% end %>
