

<% @posts.each do |post| %>


    <blockquote>

      <em><i class="  icon-time"></i> Add <%= time_ago_in_words(post.created_at) %> ago.</em>
      <p><%=link_to post.title, post%></p>


      <small><%= truncate(strip_tags(post.idea), length: 80)  %></small>
      <div class = "counter_comments">
        <%= pluralize post.comments.size, "" %> <i class=" icon-comment"></i> |
        <%= pluralize post.reputation_for(:votes).to_i, "" %>  <i class=" icon-thumbs-up"></i>
      </div>

    </blockquote>
    <% if signed_in? %>
    <% if current_user.admin? %>
        | <%= link_to "delete", post, :method => :delete, :confirm => "You sure?",
                      :title => "Delete #{post.idea}" %>
    <% end %>
        <% end %>
<% end %>
    <% if signed_in? %>
<% if current_user.admin? %>
<%= link_to 'New Post', new_post_path %>
 <% end %>
<% end %>
