<div class="counter_posts">
  <p class="muted">Количество записей: <%= pluralize @posts.count, "" %> </p>
</div>

<% @posts.each do |post| %>


    <div class="blocke">

      <p class="muted"> <small><i class="icon-time"></i>  Добавлено: <%= (post.created_at.strftime('%F, %H:%M ')) %></small> </p>

      <strong><%= post.title%></strong>


      <p><%= truncate(strip_tags(post.idea), :length => 80)  %></p>

      <div class = "counter_comments">

        <p class="text=error">
        <%= pluralize post.comments.size, ""  %> <i class=" icon-comment"></i> |
        <%= pluralize post.reputation_for(:votes).to_i, "" %>  <i class=" icon-thumbs-up"></i>
        </p>
      </div>

      <div class="link_delete">
        <% if signed_in? %>
            <% if current_user.admin? %>
                <%= link_to "Удалить", post, :method => :delete,
                            :title => "Delete #{post.idea}" %>
            <% end %>
        <% end %>
      </div>
      <div class="link">
        <p><%=  link_to "Читать дальше...", post %> </p>
      </div>
      <hr/>


    </div>


<% end %>
<center><div class="pagination">
  <ul>
    <li><a href="?page=1">Начало</a></li>
    <li><a href="?page=2">2</a></li>
    <li><a href="?page=3">3</a></li>
    <li><a href="?page=4">4</a></li>
    <li><a href="?page=5">5</a></li>
    <li><a href="?page=6">Конец</a></li>
  </ul>
</div> </center>


