

<% @posts.each do |post| %>


    <div class="blocke">

      <p class="muted"> <small><i class="icon-time"></i> Add <%= time_ago_in_words(post.created_at) %> ago</small> </p>

      <strong><%= post.title%></strong>


      <p><%= truncate(strip_tags(post.idea), length: 80)  %></p>

      <div class = "counter_comments">


        <%= pluralize post.comments.size, "",  %> <i class=" icon-comment"></i> |
        <%= pluralize post.reputation_for(:votes).to_i, "" %>  <i class=" icon-thumbs-up"></i>

      </div>

      <div class="link">
        <p><%=  link_to "Читать дальше...", post %> </p>
      </div>
      <hr/>


    </div>
      <div class="link_delete">
    <% if signed_in? %>
        <% if current_user.admin? %>
            <%= link_to "Удалить", post, :method => :delete,
                        :title => "Delete #{post.idea}" %>
        <% end %>
    <% end %>
      </div>

<% end %>
    <% if signed_in? %>
<% if current_user.admin? %>
<%= link_to 'New Post', new_post_path %>
 <% end %>
<% end %>
