<p id="notice"><%= notice %></p>

<div class="image_post">
  <%= image_tag @post.image_url.to_s%>
</div>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Idea:</b>
  <%= @post.idea %>
</p>

<% if signed_in? %>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
        <% end %>
<% end %>