
<div class="gallery">
<div class="row">
  <center><h4><%= t('gallery.index.title') %></h4></center>
  <br/>
  <div class="container_photo_gallery">
  <ul class="thumbnails files">
    <% @galleries.desc.each do |gallery| %>
        <li class="span4" id="gallery_<%= gallery.id %>">
          <div class="thumbnail">
            <% if gallery.cover.blank? or !Picture.find_by_id(gallery.cover) %>

                  <p class="muted"><center><%= gallery.name %></center></p>
                  <p class="muted"><%= t('gallery.index.create') %> <%= gallery.created_at.strftime('%F, %H:%M ') %></p>
                 <p class='muted'> <%= t('gallery.index.photo') %> <%= pluralize gallery.pictures.size, ""  %></p>
                <a href="<%= gallery_path(:id => gallery.id) %>">
                  <img src="/assets/photogalery.jpg">

                </a>
            <% else %>
                <a href="<%= gallery_path(:id => gallery.id) %>">
                  <img src="<%= Picture.find_by_id(gallery.cover).image.thumb.url %>" alt="">
                </a>
            <% end %>
            <% if signed_in? %>
                <% if current_user.admin? %>
            <div class="caption">
              <p style="text-align: center;">
                <a href="<%= edit_gallery_path(:id => gallery.id) %>" class="btn btn-mini">
                  <i class="icon-edit "></i>
                  Edit
                </a>
                <a class="btn btn-mini btn-delete" confirm="Вы уверены?" data-method="delete" href="<%= gallery_path(:id => gallery.id) %>" data-remote=true>
                  <i class="icon-trash"></i>
                  Delete
                </a>
              </p>
            </div>
                  <% end %>
                <% end %>
          </div>
        </li>
    <% end %>
  </ul>
  <% if signed_in? %>
      <% if current_user.admin? %>
  <%= link_to 'New', new_gallery_path, :class => 'btn btn-small btn-warning' %>
          <% end %>
      <% end %>
</div>
</div>
</div>