<div class= "admin_sector">
 <div class="heid_admin_sector">
   <div class="text_admin_sector">
 <p class="muted">► <%= t('.contact') %></p>
   </div>
   <% if signed_in? %>
   <div class="info_admin_sector">
    <p class="muted"> <%= t('.skype') %>: stereotip_2oo9</p>
     <p class="muted"> <%= t('.email') %>: vitaleks2012@i.ua</p>

   </div>
       <% if signed_in? %>

           <div class= "button_admin">

             <p class="text-error">

                 <i class="icon-envelope"></i>
                 <%= link_to t('.letter'), new_letter_path %>

               <br/>

               <i class="icon-question-sign"></i>
               <%= link_to t('.questions'), new_question_path  %>



               <br/>
               <i class="icon-user"></i>
               <%= link_to t('.my_page'), current_user  %>



             </p>

           </div>

       <% end %>

   <% else %>
       <div class="info_admin_sector">
         <p class="text-error"> ► <%= t('.info_admin') %></p>
       </div>

       <% end %>




 </div>


<div class="miniadmin_image">
  <%=  image_tag ("myphoto.jpg"), :size => '130x130', :class => 'img-polaroid' %>
</div>


<br/>

  <br/>
  </div>

