<div id="banned">
  <div class="ph-line-nav nav">
    <%=link_to 'Home', page_path,  :class=>"super_links"%>
    <%=link_to 'About', "/about",  :class=>"super_links"%>
    <%=link_to 'Help', "/help",  :class=>"super_links"%>
    <% if signed_in? and current_user.admin? %>
        <%=link_to 'Admin', "/admin",  :class=>"super_links"%>
    <% end %>


    <% if signed_in? %>
        <% @user = current_user %>
        <%= link_to "Logout", signout_path, :method => :delete, :class=>"super_links", :id => "user_link" %>
        <%= link_to 'Settings', edit_user_path(current_user), :class=>"super_links", :id => "user_link" %>
        <%= link_to 'Profile', current_user, :class=>"super_links", :id => "user_link" %>
    <% else %>
        <%= render 'layouts/signin' %>
    <% end %>
    <div class="effect"></div>
  </div>

</div>