
<% if signed_in? %>

    <div class="heid_mini_prof">

    </div>
    <div class="mini_profile">
      <p class="muted"><%= t('.hello') %>,</p>
      <div class="name_mini_profile">
        <p class="text-error"><%=@user.name %></p>
      </div>
      <div class="statistic">
        <p class="muted"><i class="icon-time"></i><%= Time.now.strftime('%H:%M') %><br/>
          <i class=" icon-eye-open"> Online</i>  <br/>
          <i class="icon-comment">  <%= pluralize @user.comments.size, ""%></i><br/>
          <i class="icon-user"></i> <strong><%= link_to user_path(@user), @user %></strong></p>

      </div>

<% end %>
</div>
<br/>
