<li>
  <a href="/">Главная</a> <span class="divider">/</span>
</li>
<li>
  <%= link_to 'Фото галерея', galleries_path %> <span class="divider">/</span>
</li>
<li>
  <%= link_to 'Вопросы', questions_path %><span class="divider">/</span>
</li>
<li>
  <a href="/about">О проекте</a> <span class="divider">/</span>
</li>
<li>
  <a data-toggle="modal" href="/help">Помощь</a> <span class="divider">/</span>
</li>
<li>
  <a href="/services">Услуги</a><span class="divider">/</span>
</li>
<% if signed_in? %>
    <% if current_user.admin? %>

<li>
  <a href="/admin">Aдминка</a><span class="divider">/</span>
</li>
<% end %>
    <% end %>
<li>
  <div class="search">
    <%= form_tag posts_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], :placeholder=>"Поиск по названию поста..." %>
        <div class="button">
          <%= submit_tag "Поиск", :name => nil, :class=> 'btn btn-small' %>
        </div>
        </p>
    <% end %>
  </div>

  <div class ="sort">
    Сортировать:
    <div class="btn-group" data-toggle="buttons-checkbox">
      <%= link_to  "По времени", posts_path, :class => 'btn btn-mini', :rel=>"tooltip", :title=>"Сортировать посты по популярности"%>
      <%= link_to "По популярности", page_path,  :class => 'btn btn-mini', :rel=>"tooltip", :title=>"Сортировать посты по дате добавления" %>

    </div>

  </div>
  <div class="statistic">
  <div class="muted">
  Сейчас  на сайте: <strong><%= rand(1-10) %></strong>
  Всего зарегистрировано: <strong><%= pluralize(@total_users, "") %></strong>
  </div>
  </div>
</li>
</ul>

