<div class="heid_sign_in">
  <div class="text_heid_sign_in">
  <p class ="muted">► <%= t('.sign_in') %>:</p>
  </div>
</div>
<br/>

<div class ="sign_in">

<%= form_for(:session, :url => sessions_path) do |f| %>


    <%= f.label :email, t('.email') %>
    <br/>
    <div class="field">
      <div class="too"><%=  image_tag ("question-mark.jpg"), size: '13x13', rel: "tooltip", title: "В ето поле вы должны ввести свой email адрес которий использовали при регистрации." %></div>  <%= f.text_field :email %>
    </div>
    <%= f.label :password,  t('.password') %>
    <br/>
    <div class="field">
      <div class="too"><%=  image_tag ("question-mark.jpg"), size: '13x13', rel: "tooltip", title: "В ето поле вы должны ввести свой пароль." %></div>  <%= f.password_field :password %>
    </div>
      <label>
        <%= f.check_box :remember_me %>
      </label>
      <div class="text_remember"><p class="text-error"> <%= t('.remember_me')%></p></div>

      <%= f.submit  t('.signin_button'), :class => 'btn btn-small' %>

<% end %>
  <div class="button_mini_profile">
    <a class="btn btn-small" href="/signup" >  <%= t('.signup')%> </a>
  </div>

</div>
<br/>




