<!DOCTYPE>
<html land ="en">

<head>
  <meta charset="utf-8">
  <title>FamillyBlog</title>
  <link href="/bootstrap.css" rel="stylesheet">
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <title><%= yield :title %></title>

  <%= csrf_meta_tags %>
</head>

<body>


<div class="containers">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span8">
          <ul class="breadcrumb">
            <%= render 'layouts/navigate' %>
          <%= yield %>

         </ul>
        </div>
        <div class="span4">
          <% if signed_in? %>
              <% @user = current_user %>
              <%= render 'layouts/mini_profile' %>
          <% else %>

                <blockquote>
                  <div class="button_mini_profile">
                    <a class="btn btn-large" href="/signup" ><i class="icon-ok"></i> Создать профиль </a>
                  </div>
                  <small>f you dont have a profile on the my blog, you can created by clicking on the button "Sign up now"!</small>
                </blockquote>
                <blockquote>
                  <div class="button_signin">
                    <a class="btn btn-info" href="/signin"><i class="icon-home"></i> Вход </a>
                  </div>
                  <small>f you have account on my blog, you can by clicking on the button "Sign in"!</small>
                </blockquote>

          <% end %>

            <%=  render 'service/local' %>

        </div>
      </div>
      <div class="footer">


      </div>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
