<!DOCTYPE html>
<html>
<head>
  <title>FamillyBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="containers">
  <div class="row-fluid">
<div class="span12">
  <%= render 'layouts/header' %>

<div class="row-fluid">
<div class="span8">

  <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
  <% end %>
          <%= yield %>


        </div>
<div class="span4">
  <% if signed_in? %>
  <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <li><%= link_to "Sign up", '/signup' %></li>
      <% end %>



        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
