<!DOCTYPE>
<html land ="en">

<head>
  <meta charset="utf-8">
  <title>Vitaleks-Blog</title>
  <%= javascript_include_tag "application", "jquery-1.9.1.min.js" %>
  <%= stylesheet_link_tag  "application" %>
  <title><%= yield :title %></title>
  <%= csrf_meta_tags %>
</head>
<body>
<%=  render "layouts/banned" %>


<div class="containers">
   <div id="left_cont">

   </div>
</div>

<div id="header">
</div>

</body>
</html>
