<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>

<head>
  <title>FamillyBlog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag  "application" %>
  <title><%= yield :title %></title>
  <%= javascript_include_tag :defaults, "rails.validations" %>
  <%= csrf_meta_tags %>
</head>

<body>


<div class="containers">
  <div class="row-fluid">
    <div class="span12">
      <%= render 'layouts/header' %>
      <div class="row-fluid">
        <div class="span8">
          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a> <span class="divider">/</span>
            </li>
            <li>
              <%= link_to 'Photo Gallery', galleries_path %> <span class="divider">/</span>
            </li>
            <li>
              <a href="/page/help">Help</a> <span class="divider">/</span>
            </li>
            <li>
              <a href="/page/about">About Me</a> <span class="divider">/</span>
            </li>
            <li>
              <%= link_to 'Questions', questions_path %><span class="divider">/</span>
            </li>


          </ul>

          <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>


        </div>
        <div class="span4">
          <% if signed_in? %>
              <% @user = current_user %>
              <%= render 'layouts/mini_profile' %>
          <% else %>
              <div class="well">
                <blockquote>
                  <div class="button_mini_profile">
                    <a class="btn btn-large" href="/signup">Sign up now!</a>
                  </div>
                  <small>f you dont have a profile on the my blog, you can created by clicking on the button "Sign up now"!</small>
                </blockquote>
                <blockquote>
                  <div class="button_signin">
                    <a class="btn btn-info" href="/signin">Sign in!</a>
                  </div>
                  <small>f you have account on my blog, you can by clicking on the button "Sign in"!</small>
                </blockquote>
              </div>
          <% end %>
          <% if signed_in? %>
          <div class="well">
            <a class="btn btn-warning" href="/letters/new">Write letter</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
